<div class="card" >
    <img  src="../../assets/Images/camera.jpg" alt="Card image cap" height="350px" width="350px">
    <div class="card-body">
      <h5 class="card-title">Camera</h5>
      <p class="card-text">A camera is an optical instrument that captures images. Most cameras can capture 2D images, while some more advanced models can capture 3D images.</p>
      <!-- <a routerLink="camera" class="btn btn-primary">Camera</a> -->
    </div>
</div>


 <a routerLink="/product" class="btn btn-primary">Go to Product</a> 