<p>demopostdetails1 works!</p>

<div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let post of arrPost"> -->
                        <td> {{displayDetails.username}} </td>
                        <td> {{displayDetails.id}} </td> 
                        <td> {{displayDetails.name}} </td>
                        <td> {{displayDetails.email}} </td>
                    <!-- </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>