<p>demopostdetails works!</p>
<div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>UserId</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Body</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let post of arrPost"> -->
                        <td> {{displayDetails.userId}} </td>
                        <td> {{displayDetails.id}} </td> 
                        <td> {{displayDetails.title}} </td>
                        <td> {{displayDetails.body}} </td>
                    <!-- </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>