<div class="row">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Dairy</mat-card-title>
      <mat-card-subtitle>Grocery : Dairy</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.istockphoto.com/id/544807136/photo/various-fresh-dairy-products.jpg?s=612x612&w=0&k=20&c=U5T70bi24itoTDive1CVonJbJ97ChyL2Pz1I2kOoSRo="
     alt="Photo of Dairy" height="300px" width="300px">
    <mat-card-content>
      <p>
        A dairy is a place where milk is stored and where butter, cheese and other dairy products are made, or a place where those products are sold
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="dairy" class="btn btn-primary">Go to Dairy</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Packaged food</mat-card-title>
      <mat-card-subtitle>Grocery : Packaged food</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.istockphoto.com/id/458413271/photo/american-grocery-collection.jpg?s=612x612&w=0&k=20&c=5M9XtArD-FMnxsP94k_q6_AuqzBCeEcsWPK30jW4YGY=" 
    alt="Photo of Packaged food" height="300px" width="300px"> 
    <mat-card-content>
      <p>
        Packaged food means food packaged in advance of sale by a producer or packer of the product in units suitable for retail sale.
        From Knorr Soups to Maggi Noodles, Kissan Jams to Saffola Oats, the sky's the limit when you have to buy packaged food online.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="packedFood" class="btn btn-primary">Go to Packaged food</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Snacks</mat-card-title>
      <mat-card-subtitle>Grocery : Snacks</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqumteCAjTd3SD-yGgakxAyteSV_npLJylBw&usqp=CAU" 
    alt="Photo of Snacks" height="300px" width="300px"> 
    <mat-card-content>
      <p>
        You can shop from a wide range of Snacks & Beverages online at Natures Basket. ✓Free Shipping ✓3 Hour Delivery ✓COD ✓Card on Delivery.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="snacksBeverages" class="btn btn-primary">Go to Snacks</a>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Household</mat-card-title>
      <mat-card-subtitle>Grocery : Household</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.freepik.com/premium-photo/cleaning-items-basket-isolated-white-background_93675-122107.jpg" 
    alt="Photo of Household" height="300px" width="300px"> 
    <mat-card-content>
      <p>
        Creative Household is one of the Best Online Shopping Sites for Household Items that makes your day to day life much easier. All kinds of household products.
        Online shopping for Health & Personal Care from a great selection of Paper, Plastic & Wraps, Household Cleaners, Laundry Detergents, 
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="household" class="btn btn-primary">Go to Household</a>
    </mat-card-actions>
  </mat-card>




</div>