<div class="card" >
    <img  src="../../assets/Images/watch.webp" alt="Card image cap" height="350px" width="350px">
    <div class="card-body">
      <h5 class="card-title">Watch</h5>
      <p class="card-text">Watches - Choose from new collection of Watches Online in India. Buy Wrist Watches for men, women & kids at best price from Myntra Online store.</p>
      <!-- <a routerLink="watch" class="btn btn-primary">Watch</a> -->
    </div>
</div>
<a routerLink="/product" class="btn btn-primary">Go to Product</a> 