<!-- <router-outlet></router-outlet>   -->

<!-- Practice data Binding -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-child-to-parent  (sendData)="sendToParent($event)"></app-child-to-parent> -->

<!-- <p> <b>Received data at Parent :<br>
   Employee Id : {{display[0]}} <br>
   Employee Name : {{display[1]}} <br>
   Employee City : {{display[2]}}     
  </b> </p> -->

  <!-- Directives -->
  <!-- <app-ng-if></app-ng-if> -->
  <!-- <app-ng-for></app-ng-for> -->
  <!-- <app-ng-switch></app-ng-switch> -->

<!-- <h1>Country and State : using dropdown</h1> -->
  <!-- <app-country-state></app-country-state> -->

  <!-- Directive Assignment 11 feb -->
<!-- <app-directive></app-directive> -->

<!-- Directive project starts here -->
<!-- pending work -->
<!-- <app-directive-project></app-directive-project> -->

  <!-- Assignment Template Driven form -->
  <!-- <app-templateform></app-templateform> -->
<!-- Angular material installation done first for testing taking toggle button -->

<!-- Assignment Template Driven form : with domain validation -->
<!-- <app-tempform-domain></app-tempform-domain> -->

<!-- Assignment Template Driven form : Registration form -->
<!-- <app-templt-regristration-form></app-templt-regristration-form> -->

<!-- Assignment Template Driven form : Registration form by smith -->
<!-- <app-templt-reg-form></app-templt-reg-form> -->

<!-- Assignment Reactive form : Registration form -->
<!-- <app-reactive-form></app-reactive-form> -->
  
<!-- Assignment Reactive form 2: Registration form -->
<!-- <app-reactive-form2></app-reactive-form2> -->


<!-- Reactive form Using FormBuilder  -->
<!-- <app-form-builder></app-form-builder> -->

<!-- Services -->
<app-test-services></app-test-services>