<p>personal-care works!</p>


<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Dairy</mat-card-title>
      <mat-card-subtitle>Grocery : Dairy</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.istockphoto.com/id/544807136/photo/various-fresh-dairy-products.jpg?s=612x612&w=0&k=20&c=U5T70bi24itoTDive1CVonJbJ97ChyL2Pz1I2kOoSRo=" alt="Photo of Dairy">
    <mat-card-content>
      <p>
        A dairy is a place where milk is stored and where butter, cheese and other dairy products are made, or a place where those products are sold
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/grocery" class="btn btn-primary">Back to Grocery</a> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <!-- <a routerLink="/packed-food" class="btn btn-primary">Next Product</a> -->
    </mat-card-actions>
  </mat-card>