<h3 style="margin-left: 80px">     Assignment : Reactive Form</h3>
<!-- Assignments Reactive Form : Add a Form with the following Inputs (and Validators) -->
<br>
<div>
    <mat-card class="example-card">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <!-- 1) Mail address (should not be empty and should be an email address) -->
        <div >
            <label><b>Enter your email</b></label><br>
              <input formControlName="email" type="email" class="form-control" id="email" placeholder="xyz@example.com" >
              <small id="small"  *ngIf="!reactiveForm.get('email').valid && reactiveForm.get('email').touched && !disableErrMsg">{{warningMessage}}  </small>
              <!-- <mat-error *ngIf="!reactiveForm.get('email').touched"><b>Please Enter Email</b></mat-error> -->
            <mat-error *ngIf="!reactiveForm.get('email').valid && reactiveForm.get('email').touched && disableErrMsg"><b></b>Please Enter Email</mat-error>
            
<br>
            <!-- 2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro") Set
                    "Advanced" as Default -->
                <label for="course"><b>Select Subscription</b> </label><br>
                <select formControlName="subscription" id="subscription" class="form-control">
                    <!-- <option *ngFor="let subscription of subscription"> {{subscription}}   </option> -->
                    <option value="Basic">Basic</option>
                    <option value="Advanced">Advanced</option>
                    <option value="Pro">Pro</option>
                </select>  
                
          <br>

          <!-- 3) A Password field (should not be empty) field) -->
<label for="password"><b>Password</b></label>
<br>
<input formControlName="password" id="password" type="password" class="form-control">
<!-- <mat-error *ngIf="!reactiveForm.get('password').touched"><b>Please Enter Email</b></mat-error> -->
<small id="small"  *ngIf="!reactiveForm.get('password').valid && reactiveForm.get('password').touched && !disableErrMsg">{{warningMessage}}  </small>
              <mat-error *ngIf="!reactiveForm.get('password').valid && reactiveForm.get('password').touched && disableErrMsg "><b></b>Please Enter Password</mat-error>
              
<br>

<!-- 4) A Date field user only select todays date and future date. -->
<label for="date"><b>Select Date</b> </label><br>
<input formControlName="date" id="date" type="date" Min="2023-02-23" class="form-control">
<small id="small"  *ngIf=" !disableErrMsg">{{warningMessage}}  </small>
<!-- <mat-error *ngIf="!disableErrMsg"><b></b>{{warningMessage}}</mat-error> -->
<br> <br>

          <!-- 5) A Submit Button Display a warning message if the Form is invalid AND was touched. Display a warning message below
                    each input if it's invalid. -->
                    
          <button mat-raised-button color="primary" type="submit" (click)="onClick()" class="form-control"><b>Submit</b></button>
        </div>
    </form>
</mat-card>
</div>

<!-- <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card>
  <p>Selected date: {{selected}}</p> -->
  


<!-- Upon submitting the form, you should simply print the Value of the Form to the Console. 
Optionally, display it in your template.  -->
<!-- to display data -->

<mat-list *ngIf="isSubmitted">
    <strong>
    <mat-card class="example-card">
    <label> Form Data :</label>
    <mat-list-item>Email : {{reactiveForm.get('email').value}} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Subscription : {{reactiveForm.get('subscription').value}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Password : {{reactiveForm.get('password').value}} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Date : {{reactiveForm.get('date').value}}</mat-list-item>
</mat-card>
</strong>
  </mat-list>

