<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- Manual component generation -->
  <!-- <app-demoCom></app-demoCom> -->
  <!-- component generation using ng g c testcomponent   -->
  <!-- <app-testcomponent></app-testcomponent> -->
  <!-- component generation using ng g c testcomponent1 --skip-tests   -->
  <!-- <app-testcomponent1></app-testcomponent1> -->
  
  <!-- Data Binding -->
  <!-- <app-databinding></app-databinding> -->


<!-- Communication between component -->
<!-- <app-parent></app-parent> -->
  </div>

<!-- Directives -->
<app-ngfor></app-ngfor>

<router-outlet></router-outlet>

