
<h1> Directives</h1>
<h2>Structural Directives</h2>

<h2>1]  *ngFor</h2>
<h3> Displaying object</h3>
<div> {{title}} </div>
<table class="table">
    <thead>
<tr>
    <th> Sr No.</th>
    <th>Title</th>
    <th>Director</th>
    <th>Cast</th>
    <th>Release Date</th>
</tr>
    </thead>
    <tbody>
<tr *ngFor="let movie of arrayOfMovies ; let varIndex= index ; 
let evenItem = even; let oddItem = odd;" [class.even]="evenItem" [class.odd]="oddItem">
    <td> To show index = {{varIndex + 1}}</td>    
    <td> {{movie.title}} </td>
    <td>{{movie.director}} </td>
    <td>{{movie.cast}} </td>
    <td>{{movie.releaseDate}} </td>
</tr>
    </tbody>
</table>

<h3> Displaying Array</h3>
<ul *ngFor="let song of arrayOfSongs">
<li> {{song}} </li>
</ul>