<p>wikisearchapi works!</p>

<input type="text" placeholder="Search here" #searchValue value="space" > <br>
<button class="btn btn-primary" (click)="onSearch(searchValue.value)">Search</button>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Wordcount</th>
            <th>Snippet</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of receivedData.query.search">
            <td> {{data.title}} </td>
            <td>{{data.wordcount}}  </td>
            <td> {{data.snippet}} </td>
        </tr>
    </tbody>
</table>