

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Snacks</mat-card-title>
      <mat-card-subtitle>Grocery : Snacks</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqumteCAjTd3SD-yGgakxAyteSV_npLJylBw&usqp=CAU" 
    alt="Photo of Snacks" height="300px" width="300px"> 
    <mat-card-content>
      <p>
        You can shop from a wide range of Snacks & Beverages online at Natures Basket. ✓Free Shipping ✓3 Hour Delivery ✓COD ✓Card on Delivery.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/grocery" class="btn btn-primary">Back to Grocery</a> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/grocery/household" class="btn btn-primary">Next Product</a>
    </mat-card-actions>
  </mat-card>