

<div class="row">
    <div class="col-md-12">
        <div class="card" >
            <img class="card-img-top" src="../../assets/Images/laptop.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Are you considering bringing a new laptop to your home but unsure which model to choose? Buy laptops online from brands like Acer, Asus, Avita, Infinix, Nokia, and others that suit your preference.  Choose among: Entertainment Laptops | Gaming Laptops | Everyday use laptops | Premium Laptops</p>
              <a routerLink="laptop" class="btn btn-primary">Laptop</a>
            </div>
        </div>
        <div class="card" >
            <img class="card-img-top" src="../../assets/Images/mobile.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mobile</h5>
              <p class="card-text">Vast selection of components, accessories, adapters, media drives & more from top brands. Top Brands. Best Deals. Low Prices. Easy & Fast Delivery. No Cost EMI Available. Huge Selection. Great Offers</p>
              <a routerLink="mobile" class="btn btn-primary">Mobile</a>
            </div>
        </div>
        <div class="card" >
            <img class="card-img-top" src="../../assets/Images/camera.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Camera</h5>
              <p class="card-text">A camera is an optical instrument that captures images. Most cameras can capture 2D images, while some more advanced models can capture 3D images.</p>
              <a routerLink="camera" class="btn btn-primary">Camera</a>
            </div>
        </div>
        <div class="card" >
            <img class="card-img-top" src="../../assets/Images/watch.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Watch</h5>
              <p class="card-text">Watches - Choose from new collection of Watches Online in India. Buy Wrist Watches for men, women & kids at best price from Myntra Online store.</p>
              <a routerLink="watch" class="btn btn-primary">Watch</a>
            </div>
        </div>
    </div>
</div>