<h4>Pipe Example 1] |date : ' '</h4>
<div>
    <p>Todays Date : {{todaysDate | date }} </p>
    <p>Todays Date 'shortDate' : {{todaysDate | date : 'shortDate'}} </p>
    <p>Todays Date 'fullDate': {{todaysDate | date : 'fullDate'}}</p>
    <p>Todays Date 'M/dd/yyyy': {{todaysDate | date : 'M/dd/yyyy'}}</p>
    <p>Todays Date 'h:mm': {{todaysDate | date : 'h:mm'}}</p>
    <p>Todays Date 'fullDate' | uppercase: {{todaysDate | date : 'fullDate' | uppercase}} </p>
</div>
 

<!-- price -->
<hr>
<h4>Pipe Example 2] currency: '' </h4>
<div>
    <p>price : {{price}}</p>
    <p>price : {{price | currency: 'INR' }}</p>
    <p>price : {{price | currency: 'USD' }}</p>
    <p>price : {{price | currency: 'EUR' }}</p>
</div>

<hr>
<h4>Pipe Example 3] Json Pipe: '' </h4>
<div>
    <p>Json Pipe : used to show string object </p>
    <p> {{employee | json}} </p>
</div>

<hr>
<h4>Pipe Example 4] Custom Pipe Example </h4>
<div>
    <p> Find length of : {{countLength}} </p>
    <p> The length is :{{countLength | customPipe}} </p>
</div>