<div class="card" >
    <img  src="../../assets/Images/laptop.jpg" alt="Card image cap" height="350px" width="350px">
    <div class="card-body">
      <h5 class="card-title">Laptop</h5>
      <p class="card-text">Are you considering bringing a new laptop to your home but unsure which model to choose? You can find multiple options with enhanced features that can meet your requirements.  Laptop buying has become easier with the plethora of options available online.Buy laptops online from brands like Acer, Asus, Avita, Infinix, Nokia, and others that suit your preference. You can choose a device with a range of applications and features to help you get the most out of your portable computer. The USB-C ports allow you to transfer essential files from your smartphone to your computer. The laptop price depends on the features and benefits it offers. Swipe and select a laptop after comparing features and quickly access the necessary data anytime and anywhere. We have a wide range of premium laptops according to your uses. Choose among: Entertainment Laptops | Gaming Laptops | Everyday use laptops | Premium Laptops</p>
      <!-- <a routerLink="../../product/laptop" class="btn btn-primary">Laptop</a> -->
    </div>
</div>

<a routerLink="/product" class="btn btn-primary">   Go to Product</a> 