.login-page{
    max-width: 350px;
    margin:50px auto 0 auto;
    color: rgb(21, 12, 31);
    background-color: rgb(227, 233, 235);
}
.login-form{
    display:flex;
    flex-direction: column;
}
.form-val{
    margin-top: 10px;
    color: brown;
    background-color: antiquewhite;
    max-width: 350px;
    margin:50px auto 0 auto;
}

/* for password css */
/* .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  } */
  