

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Packaged food</mat-card-title>
      <mat-card-subtitle>Grocery : Packaged food</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.istockphoto.com/id/458413271/photo/american-grocery-collection.jpg?s=612x612&w=0&k=20&c=5M9XtArD-FMnxsP94k_q6_AuqzBCeEcsWPK30jW4YGY=" alt="Photo of Packaged food">
    <mat-card-content>
      <p>
        Packaged food means food packaged in advance of sale by a producer or packer of the product in units suitable for retail sale.
        From Knorr Soups to Maggi Noodles, Kissan Jams to Saffola Oats, the sky's the limit when you have to buy packaged food online.
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/grocery" class="btn btn-primary">Back to Grocery</a> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/grocery/snacksBeverages" class="btn btn-primary">Next Product</a>
    </mat-card-actions>
  </mat-card>
