<div class="card" >
    <img  src="../../assets/Images/mobile.jpeg" alt="Card image cap" height="350px" width="350px">
    <div class="card-body">
      <h5 class="card-title">Mobile</h5>
      <p class="card-text">Vast selection of components, accessories, adapters, media drives & more from top brands. Top Brands. Best Deals. Low Prices. Easy & Fast Delivery. No Cost EMI Available. Huge Selection. Great Offers</p>
      <!-- <a routerLink="mobile" class="btn btn-primary">Mobile</a> -->
    </div>
</div>
<a routerLink="/product" class="btn btn-primary">Go to Product</a> 