
<!--  Session :  creating component and applying css-->
<!-- <app-demo></app-demo> -->

<!-- Data Binding -->
<!-- <app-data-binding></app-data-binding> -->

<!-- Directives *ngFor -->
<!-- <app-ng-for></app-ng-for> -->

<!-- Directives *ngIf -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-if-sir></app-ng-if-sir> -->
<!-- Directives *ngSwitch -->
<!-- <app-ng-switch></app-ng-switch> -->

<!-- Directives *ngStyle -->
<!-- <app-ng-style></app-ng-style> -->

<!-- Directives *ngClass -->
<!-- <app-ng-class></app-ng-class> -->

<!-- Directives custom -->
<!-- <p appCustom> Normal Paragraph</p> -->

<!-- adding from angular material toggle button -->
<!-- <p> Let's display a slide toggle component in your app and verify that everything works.</p> -->

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br> <p>adding from angular material : slider <br> 1]import in @ngmodule then imports <br> 2] above in file imports <br>3] copy and paste code in html </p> -->
<!-- adding from angular material : slider -->
<!-- <mat-slider min="1" max="5" step="0.5" value="1.5">
    <input matSliderThumb>
  </mat-slider> -->

  <!-- <h2>Template form</h2> -->
  <!-- <app-templateform></app-templateform> -->

  <!-- <h3>Reactive Form</h3> -->
  <!-- <app-reactiveform></app-reactiveform> -->

  <!-- Data binding -->
  <!-- <app-databinding></app-databinding> -->

<!-- <br> <hr> <br> -->

  <!-- HttpClient displaying data from services using -->

  <!-- <ng-container *ngFor="let product of products">
    Product Name : <Strong class="text-sucess"> {{product.name}} </Strong>
    Product Id : <Strong class="text-sucess"> {{product.id}} </Strong><br>
  </ng-container> -->


<!-- <br> <hr> <br> -->

<!-- <div>
<h4 style="text-align: center;"> Assignment : HttpClient and Pipe</h4>
<br>
<div class="col-md-">
  <label for="searchName">Search By Name</label>
  <input type="text" class="form-control" placeholder="Enter name"
  [(ngModel)]="searchByName">
</div>

<table class="table">
  <thead>
<tr style="background-color: rgba(246, 242, 242, 0.975);">
  <th> ID</th>
  <th>Name</th>
  <th>Username</th>
  <th>Company</th>
  <th>Email</th>
  <th>Phone</th>
  <th>Address</th>
</tr>
  </thead>
  <tbody>
    
<tr *ngFor="let user of users|searchName:searchByName; let varIndex= index ; 
let evenItem = even; let oddItem = odd;" [class.even]="evenItem" [class.odd]="oddItem">
  <td> {{user.id}} </td>
  <td>{{user.name}} </td>
  <td>{{user.username}} </td>
  <td> {{user.company.name}} </td>
  <td>{{user.email}} </td>
  <td> {{user.phone}} </td>
  <td> {{user.address.street}} , {{user.address.city}}, {{user.address.zipcode}} </td>
</tr>
  </tbody>
</table> 
</div> -->

<!-- <br> <hr> <br> -->

<!-- Pipe | example 1]-->
  <!-- <app-pipeexample></app-pipeexample> -->
<!-- Pipe | Product filter example -->
  <!-- <app-product-filter></app-product-filter> -->
  

  <!-- communication between component -->
<!-- <div class="row">
      <app-comp1></app-comp1>
      <app-comp2></app-comp2>
  <app-comp3></app-comp3>
  <app-comp4></app-comp4>
</div> -->
  

<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"> <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a> </li>
      <li class="nav-item"> <a routerLink="/aboutus" routerLinkActive="active" class="nav-link">AboutUs</a> </li>
      <li class="nav-item"> <a routerLink="/contactus" routerLinkActive="active" class="nav-link">ContactUs</a> </li>
      <li class="nav-item"> <a routerLink="/product" routerLinkActive="active" class="nav-link">Product</a> </li>
    <!-- creating new tab for server data received data-->
    <li class="nav-item"> <a routerLink="/post" routerLinkActive="active" class="nav-link">Post</a> </li>
    <!--  adding users -->
    <li class="nav-item"> <a routerLink="/post1" routerLinkActive="active" class="nav-link">Users</a> </li>

    <!--LogIn  -->
    <li class="nav-item"> <a routerLink="/login" routerLinkActive="active" class="nav-link">LogIn</a> </li>

    <li class="nav-item"> <a routerLink="/order" routerLinkActive="active" class="nav-link">Order</a> </li>
    <li class="nav-item"> <a routerLink="/customer" routerLinkActive="active" class="nav-link">Customer</a> </li>
    <li class="nav-item"> <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin</a> </li>
    <li class="nav-item"> <a routerLink="/todo" routerLinkActive="active" class="nav-link">ToDo</a> </li>
    <li class="nav-item"> <a routerLink="/adduser" routerLinkActive="active" class="nav-link">AddUser</a> </li>
    <li class="nav-item"> <a routerLink="/userdetails" routerLinkActive="active" class="nav-link">Userdetails</a> </li>
    <li class="nav-item"> <a routerLink="/rxjs" routerLinkActive="active" class="nav-link">rxjs</a> </li>

    
    
  </ul>
  </nav>
</header>

<!-- Angular Life Cycle hooks -->

<!-- <button (click)="changeFromParent()">lifecycle Hook button</button> -->

<!-- <app-hooks></app-hooks> -->
<router-outlet></router-outlet>