<router-outlet></router-outlet>
<!--  Session :  creating component and applying css-->
<!-- <app-demo></app-demo> -->

<!-- Data Binding -->
<!-- <app-data-binding></app-data-binding> -->

<!-- Directives *ngFor -->
<!-- <app-ng-for></app-ng-for> -->

<!-- Directives *ngIf -->
<!-- <app-ng-if></app-ng-if> -->

<!-- Directives *ngSwitch -->
<!-- <app-ng-switch></app-ng-switch> -->

<!-- Directives *ngStyle -->
<!-- <app-ng-style></app-ng-style> -->

<!-- Directives *ngClass -->
<!-- <app-ng-class></app-ng-class> -->

<!-- Directives custom -->
<!-- <p appCustom> Normal Paragraph</p> -->

<!-- adding from angular material toggle button -->
<!-- <p> Let's display a slide toggle component in your app and verify that everything works.</p> -->

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br> <p>adding from angular material : slider <br> 1]import in @ngmodule then imports <br> 2] above in file imports <br>3] copy and paste code in html </p> -->
<!-- adding from angular material : slider -->
<!-- <mat-slider min="1" max="5" step="0.5" value="1.5">
    <input matSliderThumb>
  </mat-slider> -->

  <h2>Template form</h2>
  <app-templateform></app-templateform>