
<button type="button" class="btn btn-primary"> test button</button>

<router-outlet></router-outlet>
<!--  Session :  creating component and applying css-->
<app-demo></app-demo>

<!-- Data Binding -->
<app-data-binding></app-data-binding>

<!-- Directives *ngFor -->
<app-ng-for></app-ng-for>

<!-- Directives *ngIf -->
<app-ng-if></app-ng-if>

<!-- Directives *ngSwitch -->
<app-ng-switch></app-ng-switch>

<!-- Directives *ngStyle -->
<app-ng-style></app-ng-style>

<!-- Directives *ngClass -->
<app-ng-class></app-ng-class>
