<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Household</mat-card-title>
      <mat-card-subtitle>Grocery : Household</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.freepik.com/premium-photo/cleaning-items-basket-isolated-white-background_93675-122107.jpg" 
    alt="Photo of Household" height="300px" width="300px"> 
    <mat-card-content>
      <p>
        Creative Household is one of the Best Online Shopping Sites for Household Items that makes your day to day life much easier. All kinds of household products.
        Online shopping for Health & Personal Care from a great selection of Paper, Plastic & Wraps, Household Cleaners, Laundry Detergents, 
      </p>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="/grocery" class="btn btn-primary">Back to Grocery</a> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/grocery/dairy" class="btn btn-primary">Next Product</a>
    </mat-card-actions>
  </mat-card>