<form class="login-form" #details="ngForm">
    <p><b>User Name : {{userName.name}}</b> </p>
    <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput ngModel name="name" type="text" placeholder="Full Name" required>
    </mat-form-field>
    <p><b>User Qualification : {{userName.qualification}}</b></p>
    <mat-form-field appearance="outline">
        <mat-label>Qualification</mat-label>
        <input matInput ngModel name="qualification" type="text" placeholder="Qualification" required>
    </mat-form-field><br>
<button mat-raised-button color="primary" (click)="submit(details)"> Submit</button>
</form>
<br>
<div>
<p>UserDetailsObject : </p>
<strong> {{userName | json}} </strong>
</div>